<div class="content">
  <mat-toolbar class="mat-elevation-3">
    <button *ngIf="authService.isAuthenticated()" mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">
      <span>Plan</span>
      <span>Your</span>
      <span>Goals</span>
    </span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav *ngIf="authService.isAuthenticated()" opened mode="side" [style.width]="sidenavWidth()">
      <app-custom-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
      <mat-sidenav-content class="sidenav-content" [style.margin-left]="sidenavWidth()">
        <router-outlet/>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>